<ion-view title="Settings" id="page12">
    <ion-nav-buttons side="left" class="has-header">
        <button ui-sref="tabsController.familyTasks()" class="button button-icon icon ion-chevron-left"></button>
    </ion-nav-buttons>
    <ion-content padding="false" class="manual-remove-top-padding has-header">
        <form id="settings-form11" class="list">
            <!--<label class="item item-input" id="settings-input11">-->
                <!--<input type="text" placeholder="Update family name">-->
            <!--</label>-->
            <label class="item item-input" id="settings-input12">
                <input type="text"  ng-model="remail1" placeholder="Send email invitations">
            </label>
          <div style="margin: auto 0;text-align: center"> <button id="register-button5" class="col-xs-6 button button-assertive" ng-click="sendInvitation()">SEND INVITATION</button></div>
        </form>
        <button id="settings-button16" class="button button-calm button-small button-block" ng-click="navToScreen('next','profile')">My Profile</button>

        <button id="settings-button17" class="button button-calm button-small button-block" ng-click="logoutApp()">Logout</button>

    </ion-content>
</ion-view>
