<ion-view title="Login" id="login-page" hide-nav-bar="true">
    <ion-content padding="true" class="manual-remove-top-padding" scroll="false">
        <div class="login-header">
            <img id="login-logo" src="img/logo.png" />
        </div>
        <form id="login-form2" class="list">
            <div class="spacer" style="width: 320px; height: 22px;"></div>
            <label class="item item-input" id="login-input3" name="email">
                <input type="email" placeholder="Email" ng-model="member.email" autocomplete="new-email">
            </label>
            <div class="label-container">
                <label class="item item-input" id="login-input4" name="password">
                    <input ng-attr-type="{{ showPass ? 'text' : 'password' }}" type="password" placeholder="Password" ng-model="member.password" autocomplete="new-password">
                </label>
                <span ng-show="member.password" ng-click="showPass = !showPass" ng-class="showPass ? 'fa-eye-slash' : 'fa-eye'" class="fa"></span>
            </div>
        </form>
        <div class="login-btns">
            <a id="login-button3" class="button button-positive button-block no-radius" ng-click="login(member)">Log in</a>
            <a ui-sref="register()" id="login-button4" class="button button-balanced button-block">Create Family Room</a>
        </div>
    </ion-content>
</ion-view>
