<ion-view title="Personal Tasks" id="page11">
    <ion-nav-buttons side="left" class="has-header">
        <button ui-sref="profile()" class="button button-icon icon ion-android-person"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="has-header">
        <button ui-sref="settings()" class="button button-icon icon ion-ios-cog-outline"></button>
    </ion-nav-buttons>
    <ion-content padding="false" class="manual-remove-top-padding has-header">
        <div class="btn-group btn-group-justified">
            <a ng-class="tabNav.isTab('Family') ? 'active' : ''" ng-click="tabNav.setTab('Family')" class="btn btn-primary">Family Members</a>
            <a ng-class="tabNav.isTab('Leaderboard') ? 'active' : ''" ng-click="tabNav.setTab('Leaderboard')" class="btn btn-primary">Leaderboard</a>
        </div>
        <table class="table-users table" border="0">
            <tbody>
                <tr ng-repeat="member in family track by $index">
                    <td width="10" align="center">
                        <img class="pull-left img-circle nav-user-photo" width="50" ng-src="{{getPhoto(member.ID)}}" />
                    </td>
                    <td>
                        <div class="title-family">
                            {{member.Name}}
                        </div>
                        <div class="subtitle-family" ng-if="tabNav.isTab('Family')">
                            {{member.Role}}
                        </div>
                        <div class="subtitle-family" ng-if="tabNav.isTab('Leaderboard')">
                            {{"Points: " + member.Points}}
                        </div>
                    </td>
                    <td style="position:relative">
                        <div  ng-if="tabNav.isTab('Family')" class="circle-tasks-number">{{member.TaskCount}}</div>
                        <div  ng-if="tabNav.isTab('Leaderboard')" class="circle-tasks-rank">{{$index+1}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </ion-content>
</ion-view>
