.register-btns{
    position: relative !important;
    left: 0;
    bottom: 0;
}
.remove-circle{
    font-size: 20px;
    color: red;
    left: 0;
    position: absolute;
}
.r-circle-container {
    position: relative;
    margin-top: 80px;
}
.add-circle{
    font-size: 30px;
    color: green;
    margin-top: 20px;
    text-align: center;
    display: block !important;
    width: 100%;
}
.additional-add{
    text-align: center !important;
    color: green;
    margin-top: 10px;
    display: block;
    width: 100%;
}
#profileForm .form-profile{
    padding: 0;
}
.label-container{
    position: relative;
}
.label-container .fa{
    position: absolute;
    top: 16px;
    right: 10px;
    z-index: 2;
    font-size: 15px;
    cursor: pointer;
}
#roleSelect-Register{
    margin: 0px -5px;
    background-color: transparent;
    color: black;
    border-radius: 0.4em;
    border: 1px solid #37b0d5;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
}
